.sidebar {
  transition:
  transform 0.3s ease,
  width 0.3s ease-out;
  width: 250px;
  position: fixed;
  z-index: 1000;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: #34313f; 
  transform: translateX(-100%);
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.5);
}

.sidebar-closed {
  transform: translateX(-100%);
}

.sidebar-open {
  transform: translateX(0);
}

.sidebar-open-button {
  transform: translateX(0);
  border: 10px solid red; 
}

.toggle-button {
  position: fixed;
  z-index: 1101;  
  top: 8px;     
  left: 10px;     
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: transparent; 
  color: white;
  cursor: pointer;
}

.sidebar-open-button {
  left: 180px; 
  color: #26242e;
}

.sidebar-closed-button {
  left: 0px;
  color: #34313f;
  padding-left: 10px;
}

.icon-size {
  font-size: 32px; 
}

@media (max-width: 768px) {
  .sidebar-open .toggle-button {
    left: 34%;
  }
  .sidebar {
    width: 33%;
  }
  .toggle-button {
    left: 24%;
    top: 0%;
  }
  .welcome-div {
    z-index: 99999;
    font-size: 0.8rem;
    /* padding: 10px; */
  }

  .mobile-button{
    font-size: 0.8rem;
  }

  .sidebar-open-button{
    left: 76px;
    top: -12px;
  }
  .sidebar-closed-button {
    left: 0px;
    top: -4px;
  }
  .icon-size {
    font-size: 24px; 
  }
  .mobile-nav{
    padding: 4px 2px;
  }
}

.sidebar .locale-switcher-wrapper {
  background-color: #34313f; 
  margin-bottom: 10px;
  margin-left: 5px;
}
